<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>686267794853-ps8rnvs2t3590foan90b8l81rt87r5ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686267794853-ps8rnvs2t3590foan90b8l81rt87r5ma</string>
	<key>API_KEY</key>
	<string>AIzaSyD5dsJ8O48nH6dTb2ATShgRjv-P5xuTCjc</string>
	<key>GCM_SENDER_ID</key>
	<string>686267794853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leomoon.GottaGo</string>
	<key>PROJECT_ID</key>
	<string>gottago-6342e</string>
	<key>STORAGE_BUCKET</key>
	<string>gottago-6342e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:686267794853:ios:d53361d8932f23d4</string>
	<key>DATABASE_URL</key>
	<string>https://gottago-6342e.firebaseio.com</string>
</dict>
</plist>